.texttag{
    position: absolute;
    right: 10px;
}
.iconImage{
    background-color:  #ec4a89;
}
.description{
    font-size: 0.7rem;
}

.password{
    position: absolute;
    right: 11px;
    top: 50%;
    transform: translate(0, -25%);
}